html {
  font-size: 62.5%; }

body {
  background: black; }

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1; }
  .slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: auto; }
    .slideshow .slide.is-active {
      display: block; }
    .slideshow .slide.is-loaded {
      opacity: 1; }
    .slideshow .slide .caption {
      padding: 0 100px; }
    .slideshow .slide .image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      z-index: 1;
      background-size: cover;
      image-rendering: optimizeQuality; }
      .slideshow .slide .image-container::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.05); }
    .slideshow .slide .image {
      width: 100%;
      object-fit: cover;
      height: 100%; }
    .slideshow .slide .btn {
      margin: 15px 0 0;
      border-color: #fff; }
      .slideshow .slide .btn::before {
        background: #fff; }
  .slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3; }
  .slideshow .arrows .prev {
    left: 30px; }
    .slideshow .arrows .prev:hover .svg {
      left: -10px; }
  .slideshow .arrows .next {
    right: 30px; }
    .slideshow .arrows .next:hover .svg {
      left: 10px; }
  .slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease; }

.vertical {
  object-fit: contain !important; }

.photo {
  display: grid;
  width: 99vw;
  grid-template-rows: repeat(3, 65vw); }
  .photo__area {
    margin: auto;
    width: 100%;
    height: 100%; }
  .photo__1 {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .photo__2 {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .photo__3 {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.welcome {
  width: 100%;
  background-color: white;
  padding-bottom: 5rem;
  margin-top: -6.5rem; }
  .welcome h3 {
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 70%;
    padding-top: 14rem; }
  .welcome__statement {
    margin-top: 4rem;
    margin-right: 22rem;
    margin-left: 22rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: black;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 7rem; }

header {
  background: #121212;
  background-image: linear-gradient(to right, rgba(18, 18, 18, 0.8), rgba(0, 0, 0, 0.8)); }

.top {
  display: grid;
  grid-template-columns: 600px 1fr;
  height: 10rem;
  margin-bottom: 4rem;
  margin-left: 7rem; }

.name {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Muli', sans-serif;
  font-size: 3.15rem;
  letter-spacing: 1.2rem;
  align-items: center;
  justify-content: center;
  margin-right: 8rem;
  margin-bottom: .3rem;
  color: #28b485;
  flex-direction: column;
  padding-right: 8rem;
  padding-top: 1.2rem; }
  .name__2 {
    margin-right: 5.9rem;
    padding-top: 1.6rem; }

.nav {
  display: grid;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2rem;
  margin-left: 3rem;
  margin-top: 1rem; }
  .nav ul {
    display: flex;
    list-style: none; }
  .nav__items li a {
    font-size: 2.4rem;
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 3rem;
    letter-spacing: .3rem;
    margin-right: 2rem; }
    .nav__items li a:hover {
      color: grey;
      transition: all .4s; }
  .nav__drop {
    position: relative;
    display: inline-block;
    z-index: 100; }
  .nav__dropdown {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4); }
  .nav__dropdown--content {
    padding: 8px 12px;
    color: black !important;
    display: block;
    margin: auto !important;
    padding-left: -2rem !important; }
  .nav__drop:hover .nav__dropdown {
    display: block; }
  .nav__dropdown--content:hover {
    background-color: lightgrey; }

.gold {
  text-decoration: none; }

.tdor {
  display: flex;
  justify-content: center;
  color: #7ed56f;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-style: italic;
  letter-spacing: 1.5rem;
  margin-top: -3rem;
  padding-bottom: 3rem; }

.about {
  background-color: white;
  color: black;
  font-size: 4rem;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8rem; }
