html {
  font-size: 62.5%; }

body {
  background: black; }

.photo {
  display: grid;
  width: 99vw;
  grid-template-rows: repeat(3, 65vw); }
  .photo__area {
    width: 100%;
    height: 100%;
    margin: auto; }
  .photo__1 {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .photo__2 {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .photo__3 {
    object-fit: cover;
    width: 100%;
    height: 100%; }

header {
  background: #121212;
  background-image: linear-gradient(to right, rgba(18, 18, 18, 0.8), rgba(0, 0, 0, 0.8)); }

.container {
  width: 100%; }

.top {
  display: grid;
  grid-template-columns: 600px 1fr;
  height: 10rem;
  margin-bottom: 4rem;
  margin-left: 7rem; }

.name {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Muli', sans-serif;
  font-size: 3.15rem;
  letter-spacing: 1.2rem;
  align-items: center;
  justify-content: center;
  margin-right: 8rem;
  margin-bottom: .3rem;
  color: #28b485;
  flex-direction: column;
  padding-right: 8rem; }
  .name__2 {
    margin-right: 5.9rem; }

.nav {
  display: grid;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2rem;
  margin-left: 3rem; }
  .nav ul {
    display: flex;
    list-style: none; }
  .nav__items li a {
    font-size: 2.1rem;
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 3rem;
    letter-spacing: .3rem;
    margin-right: 2rem; }
    .nav__items li a:hover {
      color: grey;
      transition: all .4s; }
