.carousel {
  width: 640px;
  height: 360px;
}

.carousel-inner > item > img {
  width: 640px;
  height: 360px;



  // position: relative;
  // margin-top: 5rem;
  // display: grid;
  // grid-template-columns: 150px 350px 150px;
  // grid-template-rows: 288px;
}

.carousel-item > img {
  // width: 53vw;

}
