.about {
  background-color: white;
  color: black;
  font-family: 'Lexend Exa', sans-serif;
  padding: 8rem;

  &__heading {
    display: flex;
    justify-content: center;
    font-size: 7rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -2rem;
  }

  &__statement {
    padding: 10rem;
    font-size: 2.4rem;
    line-height: 5rem;
  }

  &__container {
    margin-left: 43rem;
    width: 400px;
    height: 400px;

    &__photo {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 200px;
    }
  }
}
